{
  "_comment": "Password: temporal",    
  "ServerApp": {
    "ip": "192.168.1.250",
    "port": 8888,
    "open_browser": false,
    "certfile": "/etc/jupyter/certs/jupyter.crt",
    "keyfile": "/etc/jupyter/certs/jupyter.key"
    "root_dir": "/workspace"
  },
  "IdentityProvider": {
    "hashed_password": "argon2:$argon2id$v=19$m=10240,t=10,p=8$6HNS8ZjSt3yFlZ5HuxEPWw$5jcrxvCw2shKZSNAgm6/LPVxG0k6Z+ieSE/83/JNPQI"
  }
}