bs4
concrete-python
dimod
ipywidgets
jupyterlab
kaleido
matplotlib
netqasm
openfhe
ortools
pandas
pandoc
pennylane
plotly
phe
pipreqs
pulp
pylatexenc
qiskit
qiskit_aer
qiskit_ibm_runtime
scipy-openblas64
selenium
